<!-- Start Slider Revolution -->
			<div class="rev_slider_wrapper">
				<div class="rev_slider" data-version="5.0" id="slider1">
					<ul>

						<!-- Slide 1 -->
						<li data-delay="9000" 
						data-description="Raleway Bootstrap Template" 
						data-easein="default"
						data-easeout="default" 
						data-masterspeed="default" 
						data-param1="test" 
						data-rotate="0" 
						data-slotamount="default" 
						data-title="Raleway Intro"
						data-thumb="Wedding1.jpg"
						data-transition="slideremoveup">

							<!-- MAIN IMAGE -->
							

							<%= image_tag("Wedding1.jpg", alt: "test", height: '800', width: '1732' , style: "background-color:#000;") %>


							<div class="tp-caption"
							data-x="center"
							data-y="196"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
							data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
							style="padding: 0px 3px; font-size: 46px; visibility: visible; border-bottom:2px solid rgba(255, 255, 255, 0.24); color:#fff; font-family: 'Raleway' sans-serif;">
							Welcome to <span class="heavy">Happily Ever After Ph</span>.
							</div>
							
							<div class="tp-caption"
							data-x="center"
							data-y="295"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
							data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
							style="padding: 0px 3px; font-size: 24px; visibility: visible; color:#e0e0e0; font-family: 'Open Sans' sans-serif; text-align:center;">
							<p>
								Your Online Resource For All
								<br>
								Your Wedding Needs.
							</p>
							</div>

						</li>


						<!-- Slide 2 -->
						<li data-delay="10000"
						data-description="Some Description"
						data-easein="default"
						data-easeout="default"
						data-masterspeed="default"
						data-param1="test"
						data-rotate="0"
						data-slotamount="default"
						data-thumb="Wedding2.jpg"
						data-title="Features"
						data-transition="slideremoveleft">

							<!-- MAIN IMAGE -->
							<%= image_tag("Wedding2.jpg", alt: "test", height: '800', width: '1732' , style: "background-color:#000;") %>

							<div class="tp-caption" 
							data-x="320"
							data-y="105"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
							data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:35px;font-family:'Raleway' sans-serif;font-weight:200;border:2px solid #fff;padding:0 17px;">
							One-stop Hub for <strong>your wedding</strong> needs.
							</div>

							<div class="tp-caption background-mainsub" 
							data-x="320"
							data-y="195"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="x:100px;opacity:0;s:1200;e:Power3.easeOut;"
							data-transform_out="y:100px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
							
								<span class="fa fa-check"></span>

							</div>

							<div class="tp-caption" 
							data-x="390"
							data-y="200"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="x:130px;opacity:0;s:1200;e:Power3.easeOut;"
							data-transform_out="y:130px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
							Comprehensive List of Vendors and <strong>Reviews</strong>.
							</div>

							<div class="tp-caption background-mainsub" 
							data-x="320"
							data-y="260"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="x:160px;opacity:0;s:1200;e:Power3.easeOut;"
							data-transform_out="y:160px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
							
								<span class="fa fa-check"></span>

							</div>

							<div class="tp-caption" 
							data-x="390"
							data-y="265"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="x:190px;opacity:0;s:1200;e:Power3.easeOut;"
							data-transform_out="y:190px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
							Wedding Inspiration, Online Community, Blogs, and Forums.
							</div>

							<div class="tp-caption background-mainsub" 
							data-x="320"
							data-y="324"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="x:220px;opacity:0;s:1200;e:Power3.easeOut;"
							data-transform_out="y:220px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;line-height:50px;text-align:center;padding-left:12px;padding-right:12px;border-radius:50%">
							
								<span class="fa fa-check"></span>

							</div>

							<div class="tp-caption" 
							data-x="390"
							data-y="329"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="x:260px;opacity:0;s:1200;e:Power3.easeOut;"
							data-transform_out="y:260px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;">
							Budget, Checklist, and Guest List Management
							</div>

							<div class="tp-caption" 
							data-x="325"
							data-y="395"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600"
							data-transform_idle="o:1;"
							data-transform_in="y:70px;opacity:0;s:1000;e:Power3.easeOut;"
							data-transform_out="y:70px;opacity:0;s:500;e:Power2.easeInOut;"
							style="color:#fff;font-size:17px;font-family:'Open Sans' sans-serif;font-weight:300;">
							<strong>+ and much more</strong>
							</div>

						</li>
						
					</ul>
				</div>
			</div><!-- /rev slider -->
			<!-- End Slider Revolution -->
