<div class="container">

POSTS/FORUMS
<div>
<%= link_to "Start New Thread", new_post_path %>
</div>

<div class="container">
	<% @posts.each do |p| %>
		<div class="table">
			<tr> 
				<%= link_to p.title, post_path(:id => p.id) %> 
				<p> <%= time_ago_in_words(p.created_at) %> </p>
				<p> by user: <%= p.user_id %> </p>

			</tr>
		</div>
	<% end %>
</div>

</div>