// Place all the styles related to the user_todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.completed {
	
	text-decoration: line-through;
}

.completed-todo-item {
	
	text-decoration: line-through;
}

.check-but {
	
	text-decoration: none !important;
}


.table.grey-theme>thead>tr>th {
    /* background-color:#00B7EB; 

    color:#fff;*/
    background-color:#e9e9e9;

    padding:12px 15px;
    font-size:16px;
    border:none;
}