<%= simple_form_for ([@vendor, @vendor.reviews.build]) do |f| %>
	<div id="rating-form">
		<label> Rating </label>
	</div>
	<%= f.input :comment%>
	<%= f.button :submit %>
<%end%>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		score: 3,
		scoreName: 'review[rating]'

	}


		);

</script>