
			<!-- Begin Accordion + IMG  -->
			<div class="mt40 mb40">
				<div class="container">

					<!-- Begin Title -->
					<div class="row">
						<div class="col-sm-12 mb20">
							<div class="heading"><h4>About us</h4></div>
						</div>
					</div>

					<!-- Begin Accordion Row -->
					<div class="row">

						<div class="col-sm-6" data-sr="enter left">

							<!-- Begin Accordion -->
							<div class="panel-group" id="accordion">
								<!-- Item 1 -->
								<div class="panel panel-success">
									<div class="panel-heading">
									  <h4 class="panel-title">
									    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									      We have over <b>3000+</b> listed vendors with reviews.
									    </a>
									  </h4>
									</div><!-- /panel heading -->
								    <div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											@todo Description - Vendors (range, reviews) <br/>
											details <br/>
											sample photos 
										</div>
								    </div><!-- /panel collapse -->
								</div><!-- /panel -->

								<!-- Item 2 -->
								<div class="panel panel-default">
									<div class="panel-heading">
									  <h4 class="panel-title">
									    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									      Manage your wedding thru <i>My HEAP</i>.
									    </a>
									  </h4>
									</div><!-- /panel heading -->
								    <div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											Checklist (to-do items) <br/>
											Budget Tracker <br/>
											Guest List <br/>
											Wedding Team <br/>
											Pegs

										</div>
								    </div><!-- /panel collapse -->
								</div><!-- /panel -->

								<!-- Item 3 -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											  Full Access to all Forum Topics
											</a>
										</h4>
									</div><!-- /panel heading -->
								    <div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											Get help from previous HEAPsters <br/>
											Share your planning experience <br/>
										</div>
								    </div><!-- /panel collapse -->
								</div><!-- /panel -->
							


								<!-- Item 4 -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
											  Get Inspired from HEAP Blogs
											</a>
										</h4>
									</div><!-- /panel heading -->
								  <div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											Blog Posts

										</div>
								  </div><!-- /panel collapse -->
								</div><!-- /panel -->
							</div><!-- /panel group -->

							<!-- Button >
							<div class="text-center">
								<a href="pages-about-us-team.html" class="btn btn-rw btn-primary">
									About us
								</a>
							</div><!-- /button -->

						</div><!-- /column -->

						<!-- Begin Image -->
						<div class="col-sm-6" data-sr="enter bottom" >
							<img src="images/showcase.png" class="img-responsive showcase-image" alt="Responsive Showcase 2">
						</div><!-- /column -->

					</div><!-- /row -->
					<!-- End Accordion Row -->
					
				</div><!-- /container -->
			</div><!-- /content -->
			<!-- End Accordion + IMG -->