			<!-- Begin Footer -->
			<footer class="footer ">
			    <div class="container">
			        <div class="row">

			            <div class="col-sm-4 mb30-xs">
			                <div class="heading-footer"><h4>About</h4></div>
			                <p> <strong> Happily Ever After Philippine (HEAP)  </strong>
			                <br>
			                Created for the Filipino Couples.
			                <br>
			                Powered by Worldclass Pinoy Talents.
			                <br>
			                Weddings Simplified.  
			                </p>
			                
			            </div>
			            <!-- Social -->
			            <div class="col-sm-4 mg25-xs text-center">
			                <div class="heading-footer"><h4>Follow Us</h4></div>
			                
			                <%= link_to '<span class="fa fa-facebook bordered-icon bordered-icon-sm mb5"></span>'.html_safe,  "https://www.facebook.com/happilyeverafterphilppines", :target => "_blank" %>

			                <%= link_to '<span class="fa fa-twitter bordered-icon bordered-icon-sm mb5 mt10"></span>'.html_safe, "https://twitter.com/heap_ph", :target => "_blank"   %>

			                <%= link_to '<span class="fa fa-instagram bordered-icon bordered-icon-sm mb5"></span>'.html_safe, "https://www.instagram.com/happilyeverafterph", :target => "_blank"   %>
			                
			                
			            </div>
			            <!-- Recent Work -->
			            <div class="col-sm-4 hidden-xs text-right">
			                <div class="heading-footer"><h4>Recent Listings</h4></div>
			                <div class="col-xs-4 recent-work-padding">
			                    <!--a href="images/projects/web2.jpg" class="thumbnail image-zoom-link">
			                      <img src="images/projects/thumbs/web2.jpg" alt="..." class="thumbnail img-responsive">
			                    </a-->
			                </div>
			                <div class="col-xs-4 recent-work-padding">
			                    <!--a href="images/projects/web3.jpg" class="thumbnail image-zoom-link">
			                      <img src="images/projects/thumbs/web3.jpg" alt="..." class="thumbnail img-responsive">
			                    </a-->
			                </div>
			                <div class="col-xs-4 recent-work-padding">
			                    <!--a href="images/projects/illustration1.jpg" class="thumbnail image-zoom-link">
			                      <img src="images/projects/thumbs/illustration1.jpg" alt="..." class="thumbnail img-responsive">
			                    </a-->
			                </div>
			            </div>
			            
			        </div><!-- /row -->
			        <!-- Copyright -->
			        <div class="row">
			            <hr>
			            <div class="col-sm-12 text-center">
			                <p class="copyright mb15">© <%= Time.now.year %> Happily Ever After Philippines. All rights reserved.</p>
			                <a href="#" class="scroll-top"><div class="footer-scrolltop-holder" style="float:none;display: inline-block;"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
			            </div>
			        </div><!-- /row -->
			    </div><!-- /container -->
			</footer><!-- /footer -->
			<!-- End Footer -->
